{
	line-height:1;
	margin: 0px;
	outline: 0px;
	padding: 0px;
}

html	{
	height: 100%;
	width: 100%;
}

body	{
	background: rgba(0,0,0,1.0);
	font-family: Arial, Helvetica, sans-serif;
	color: rgba(255,255,255,1.0);
	height: 100%;
	width: 100%;
}

a, a:active, a:visited, a:hover {
	text-decoration: none;
}

#clear {
clear: both;
}

#allprograms {
	background: url(../images/bk_hca-wom_secondlevel1b-myprog.jpg) top center no-repeat;
	width: 1280px;
	height: 720px;
	position: absolute;
}

#allprograms #banner	{
    background: url(../images/img_hca-wom_tab2.png) top left no-repeat;
	width: 510px;
	height: 127px;
	margin: 55px 0px 0px 707px;
	position: absolute;
}

#allprograms #banner p	{
	font-size: 24px;
	line-height: 30px;
	margin: 0px 35px 0px 0px;
	color: #122943;
	float: right;
	position: relative;
	text-align: left;
}

#allprograms #banner p span	{
	font-size: 32px;
	color: rgba(254,242,0,1.00);
}

#allprograms #breadcrumb {
	width: 614px;
	height: 60px;
	margin: 140px 0px 0px 21px;
	position: absolute;
}

#allprograms #breadcrumb p {
	width: 100%;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	color: #ffffff;
	text-align: center;
}

#allprograms #label	{
	width: 590px;
	height: 54px;
	margin: 150px 0px 0px 65px;
	float: left;
	position: absolute;
}

#allprograms #label p	{
	width: 100%;
	height: 100%;
	font-size: 29px;
	line-height: 54px;
	color: rgba(255,255,255,1.00);
	float: left;
	position: relative;
	text-align: center;
}

#allprograms #selections	{
	width: 600px;
	height: 300px;
	margin: 280px 0px 0px 55px;
	float: left;
	position: absolute;
	overflow: hidden;
}

#allprograms #selections ul {
	list-style-type: none;
}

#allprograms #selections a	{
	width: 590px;
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	padding-left: 10px;
	margin-left: 10px;
	float: left;
	text-align: left;
	position: relative;
	color: rgba(255,255,255,1.00);
	}

#allprograms #selections a.active, #allprograms #selections a:active, #allprograms #selections a.selected {
    background-color: #4e9e36;

}

#allprograms #selections .padding {
	width: 570px;
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	margin: 5px 0;
	float: none;
	display: block;
	position: relative;
}

#allprograms #buttons {
	width: 600px;
	height: 105px;
	margin: 615px 0px 0px 53px;
	position: absolute;
}

#allprograms #buttons a {
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	margin: 0 10px;
	float: left;
	text-align: center;
	position: relative;
	color: rgba(255,255,255,1.00);
	background-color: #318bc8;
}

#allprograms #buttons a.active, #allprograms #buttons a:active {
	background-color: #4e9e36;
}

#allprograms #buttons a#more, #allprograms #buttons a#mainmenu {
    width: 280px;
}

#allprograms #background	{
	background-position: 50% 0%; 
	background-repeat: no-repeat;
	width: 693px;
	height: 515px;
	margin: 205px 0px 0px 587px;
	float: left;
	opacity: 1.00;
	position: absolute;
}

#allprograms.about #background	{
	background-image: url(../images/img_learn_aboutus.jpg); 
}

#allprograms #background.textoverlay {
	opacity: 0.1; 
}

#allprograms #selection	{
	
	width: 585px;
	height: 325px;
	top: 270px;
	left: 680px;
	float: left;
	display: inline-block;
	position: absolute;
}

#allprograms #selection #subselections	{
	width: 572px;
	height: 294px;
	margin: 50px 0 0 125px
	color: rgba(255,255,255,1.00);
    overflow: all;    
	overflow-x: hidden;
    
}

#allprograms #selection #subselections a	{
	width: 550px;
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	padding-left: 35px;
	margin: 0px 0;
	display: block;
	text-align: left;
	position: relative;
	color: rgba(255,255,255,1.00);
}

#allprograms #selection #subselections a.selected {
    background: url(../images/checkmark_dkblue.png) top left no-repeat;
}

#allprograms #selection #subselections a.active, #allprograms #selection #subselections a:active	{
	background-color: #4e9e36;
}

#allprograms #selection #subselections .padding {
	width: 570px;
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	margin: 5px 0;
	float: none;
	display: block;
	position: relative;
}

#allprograms #selection #subbuttons {
	width: 585px;
	height: 34px;
	margin: 25px 0px 0px 0px;
	position: absolute;
}

#allprograms #selection #subbuttons a {
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	margin: 0 10px;
	float: left;
	text-align: center;
	position: relative;
	color: rgba(255,255,255,1.00);
	background-color: #318bc8;
}

#allprograms #selection #subbuttons a.active, #allprograms #selection #subbuttons a:active	{
	background-color: #4e9e36;
}

#allprograms #selection #subbuttons a#subnext, #allprograms #selection #subbuttons a#subprev {
	width: 270px;
}



/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(25,50,100,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}